
.formbox p{
  margin-left: 60px;
  color: #333;
}
.navbar{
  background-color: rgb(121, 32, 0);
  color: #fff;
}
.navbar-nav{
  float: right;
}
i,
span{
  color: #fff;
}
a{
  margin-left: 20px;
  text-decoration: none;
}
img{
  width: 90%;
  border: 1px solid red;
}