@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Roboto:wght@300&family=Shrikhand&display=swap');

.header
{ 
  color: white;
}
.header h1
{
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
hr{
  border: 0.01px solid rgba(0.230, 0.230, 0.230, 0.050);
}
.navbar
{
 overflow: hidden;
 background-color: rgb(255, 255, 255); 
 /* box-shadow: 0 4px 10px 0 #e0e0e0; */
 margin-top: 30px;
 border-radius: 30px;
 border: 0.2px solid rgb(227, 227, 227);
}
.navbar
{
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}
.navbar a
{
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin: 10px;
}
.navbar-ang a{
  color: #ffff;
}
.navbar a.right
{
  float: right;
}
.navbar a:hover
{
  border: 1px solid black;
  color: black;
  border-radius: 30px;  
}

/* CSS Flexbox */
*
{
  box-sizing:border-box;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
.side
{
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main
{
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.content{
  text-align:left;
  margin: 10px;
}
@media screen and (max-width: 700px){
  .row{
    flex-direction: column;
  }
} 
@media screen and (max-width: 400px){
  .navbar a{
    float: none;
    width: 100%;
  }
}
.footer
{
  padding:20px;
  text-align: centre;
  background: #ddd;
}