@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* .carousel-item{
    height: 350px;
}
.carousel-item > img {
    position: absolute;
    transform:translateY(-20%);
  } */
.carousel-caption h1{
    color: yellow;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}
.carousel-caption p{
    background-color: rgba(0, 0, 0, 0.3);
}
.search-sec{
    box-shadow: 0 4px 10px 0 #e0e0e0;
    margin-top: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
}
.nav{
    background-color: rgba(0, 0, 0, 0.5);
        position:absolute;
        width:100%;
        z-index:10;
        max-width:100%;
        height: 50px;
}
a{
    color: #ffff;
}
/* .tabsec{
    height: 300px;
} */
.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 10px 0 #e0e0e0;
    margin: 50px;
    height: 700px;

}
.card,  
.guide-text{
    box-shadow: 0 4px 10px 0 #e0e0e0;
}
h2{
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
}
.page-footer{
    background-color: rgb(255, 225, 0);
    height: 200px;
    margin: 20px;
    box-shadow: 0 4px 10px 0 #e0e0e0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.page-footer p{
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);
    width: 50%;
    box-shadow: 0 4px 10px 0 #2e2e2e;
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}
.left,
.right{
    width: 45%;
}
@media (min-width:500px) {
.carousel-item{
    height: 350px;
}
.carousel-item > img {
    position: absolute;
    transform:translateY(-20%);
  }
  .carousel-caption h1{
      font-size: 50px;
  }
}
